In [1]:
import sys
sys.path.append("../SourceCode")

In [2]:
from dataManagement import DatabaseManagement

API KEY: 7TvgfyF7r_J6E4OWLhwkDYDKnkTjzwPL
/Users/charlotte/UofT/blockchainbot/SourceCode

In [3]:
db = DatabaseManagement()

In [6]:
db.ohlc_update('BTCUSD')

          date      open          high       low     close        volume
0   2020-10-11  11300.97  11451.000000  11262.00  11374.01  24771.737130
1   2020-10-12  11374.01  11739.973980  11111.00  11529.32  50327.963182
2   2020-10-13  11535.46  11574.908502  11306.13  11428.22  45521.349079
3   2020-10-14  11443.00  11564.000000  11284.27  11427.70  38608.497800
4   2020-10-15  11417.85  11641.380000  11250.01  11509.34  46171.175089
..         ...       ...           ...       ...       ...           ...
725 2022-10-06  20162.15  20455.790000  19855.19  19965.64  54016.911129
726 2022-10-07  19955.80  20065.260000  19325.00  19532.92  46295.221918
727 2022-10-08  19531.08  19628.780000  19249.70  19419.60  12309.657141
728 2022-10-09  19420.00  19563.280000  19321.00  19443.50  14566.224537
729 2022-10-10  19442.70  19528.040000  19000.00  19132.83  33911.302007

[730 rows x 6 columns]

In [5]:
db.ohlc_update("ETHUSD")

           date     open     high         low    close         volume
0    2020-10-10   365.35   380.81   364.65000   370.75  517169.088269
1    2020-10-11   371.15   378.00   368.89400   374.61  219975.979236
2    2020-10-12   374.38   395.81   364.95600   387.00  553490.389576
3    2020-10-13   387.39   388.31   374.10000   381.37  491870.404718
4    2020-10-14   381.74   388.47   372.82500   379.08  442147.054015
..          ...      ...      ...         ...      ...            ...
725  2022-10-05  1362.10  1365.00  1316.20000  1352.48  374141.460202
726  2022-10-06  1352.37  1390.20  1345.00000  1352.24  510913.126111
727  2022-10-07  1352.18  1362.14  1317.14808  1331.00  341770.659790
728  2022-10-08  1331.12  1337.70  1303.60000  1315.71  101418.347412
729  2022-10-09  1315.26  1329.33  1307.21000  1323.41  116675.842467

[730 rows x 6 columns]

In [ ]:
db.ticker_universe #property object not a function so please do not call () it...